<!-- /.box-header -->
@using BEAN;

<form role="form" id="frmRelatorioGerencialGrid">
    <div class="box-body table-responsive no-padding" id="divResultadoBusca">

        <table class="table table-bordered table-striped">
            <tr>
                <td align="center"><h3 class="box-title">Filtros Utilizados</h3><br /><h3> @Html.Raw(Model.FiltrosUtilizados)</h3></td>
            </tr>
        </table>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    
                    <th>Ação - Requerente</th>                 
                    <th></th>                 
                    <th style="width: 10px">Data Prevista</th>
                    <th style="width: 10px">Data Realizada</th>                    
                    <th>Valor<br /> Previsto</th>
                    <th>Valor<br /> Realizado</th>
               

                </tr>

                @if (Model != null && Model.Contas != null)
                {
                    double vTotalSucumbencia = 0;
                    double vTotalAssessoriaPagamento = 0;
                    double vTotalSaldo = 0;
                    double vTotalPagamentos = 0;
                    double vTotalRecebimento = 0;
                    double vTotalPrincipal = 0;
                    double vSubTotal = 0;
                    string vAcao = string.Empty;

                    int i = 0;

                    foreach (var item in Model.Contas)
                    {

                        if (i > 0)
                        {
                            if (item.Origem.Equals("ACAO") && vAcao != item.Numeracao)
                            {
                                <tr>
                                    
                                    <td><b>SUBTOTAL</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td align="right"><b>@string.Format("{0:n2}", vTotalPagamentos)</b></td>
                                    <td align="right"><b>@string.Format("{0:n2}", vTotalRecebimento)</b></td>
                                </tr>

                                vTotalPagamentos = 0;
                                vTotalRecebimento = 0;
                            }
                        }

                        <tr class="cpointer">
                            
                            @if (item.Origem.Equals("ACAO"))
                            {
                                <td>@item.Numeracao - @item.Cliente</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td>@item.Origem</td>
                            <td align="center">@(item.DataVencimento != null ? string.Format("{0:dd/MM/yyyy}", item.DataVencimento) : "")</td>
                            <td align="center">@(item.DataPagamento != null ? string.Format("{0:dd/MM/yyyy}", item.DataPagamento) : "")</td>

                            <td align="right">@string.Format("{0:n2}", Convert.ToDouble(item.ValorAhPagarReceber))</td>
                            <td align="right">@string.Format("{0:n2}", Convert.ToDouble(item.ValorPagoRecebido))</td>
                        </tr>

                        //vTotalSucumbencia += Convert.ToDouble(item.Sucumbencia);
                        vTotalPagamentos += Convert.ToDouble(item.ValorAhPagarReceber);
                        //vTotalAssessoriaPagamento += Convert.ToDouble(item.AssessoriaPagamento);
                        vTotalRecebimento += Convert.ToDouble(item.ValorPagoRecebido);
                        //vTotalPrincipal += Convert.ToDouble(item.Principal);
                        //vTotalSaldo += Convert.ToDouble(item.Saldo);
                        i++;

                        if (item.Origem.Equals("ACAO"))
                        {
                            vAcao = item.Numeracao;
                        }
                    }

                    <tr>
                        
                        <td><b>SUBTOTAL</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right"><b>@string.Format("{0:n2}", vTotalPagamentos)</b></td>
                        <td align="right"><b>@string.Format("{0:n2}", vTotalRecebimento)</b></td>
                    </tr>

                    <tr>
                        
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input type="hidden" id="QtdeFiltrado" name="QtdeFiltrado" value="@i" />Total</td><!--4-->
                    </tr>
                }

            </tbody>
        </table>
    </div>
</form>